In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
data = pd.read_excel('../data/data_merged_columns_filtered.xlsx')
data.head(10)

,Unnamed: 0,il,fiyat,marka,seri,model,yil,yakit,vites,km,...,motor_hacmi_cc,cekis,renk,garanti,plaka_uyruk,kimden,takas,durumu,submodel1,submodel2
0,0,Konya,72500.0,Audi,A6,A6 Sedan 2.0 TDI,2006,Dizel,Manuel,154000,...,1968,Önden,Gri,0,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
1,1,İzmir,117500.0,Audi,A4,A4 Sedan 2.0 TDI,2013,Dizel,Yarı Otomatik,130000,...,1968,Önden,Beyaz,1,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
2,2,İstanbul,249500.0,Audi,A6,A6 Sedan 3.0 TDI Quattro,2014,Dizel,Yarı Otomatik,125000,...,2967,4WD,Siyah,0,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
3,3,Muğla,92500.0,Audi,A4,A4 Sedan,2011,Benzin,Yarı Otomatik,81000,...,1798,Önden,Siyah,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN
4,4,Afyonkarahisar,47000.0,Audi,A6,A6 Sedan 2.5 TDI Quattro,2003,Dizel,Yarı Otomatik,205500,...,2001,4WD,Gri,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN
5,5,İstanbul,53750.0,Audi,A4,A4 Sedan 1.6,2008,Benzin & LPG,Manuel,216000,...,1595,Önden,Siyah,0,Türkiye (TR) Plakalı,Sahibinden,1,İkinci El,NaN,NaN
6,6,İstanbul,55000.0,Audi,A4,A4 Sedan,2005,Benzin & LPG,Yarı Otomatik,115250,...,1984,Önden,Mavi,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN
7,7,Muğla,74000.0,Audi,A4,A4 Sedan,2009,Benzin,Yarı Otomatik,100000,...,1798,Önden,Lacivert,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN
8,8,Hatay,220000.0,Audi,A6,A6 Sedan 2.0 TDI,2013,Dizel,Yarı Otomatik,128500,...,1801,Önden,Beyaz,0,Türkiye (TR) Plakalı,Sahibinden,1,İkinci El,NaN,NaN
9,9,Eskişehir,260000.0,Audi,A6,A6 Sedan 2.0 TDI,2015,Dizel,Yarı Otomatik,70000,...,1968,Önden,Beyaz,0,Türkiye (TR) Plakalı,Sahibinden,1,İkinci El,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264553 entries, 0 to 264552
Data columns (total 22 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   Unnamed: 0      264553 non-null  int64
 1   il              264553 non-null  object
 2   fiyat           264553 non-null  float64
 3   marka           264553 non-null  object
 4   seri            264553 non-null  object
 5   model           264553 non-null  object
 6   yil             264553 non-null  int64
 7   yakit           264553 non-null  object
 8   vites           264553 non-null  object
 9   km              264553 non-null  int64
 10  kasa_tipi       264553 non-null  object
 11  motor_gucu_hp   264553 non-null  int64
 12  motor_hacmi_cc  264553 non-null  int64
 13  cekis           264553 non-null  object
 14  renk            264553 non-null  object
 15  garanti         264553 non-null  int64
 16  plaka_uyruk     264553 non-null  object
 17  kimden          264553 non-null  object
 18  takas           264553 non-null  int64
 19  durumu          264553 non-null  object
 20  submodel1       50050 non-null   object
 21  submodel2       50050 non-null   object
dtypes: float64(1), int64(7), object(14)
memory usage: 44.4+ MB

In [6]:
data = data.reset_index(drop=True)

In [7]:
data.head()

,Unnamed: 0,il,fiyat,marka,seri,model,yil,yakit,vites,km,...,motor_hacmi_cc,cekis,renk,garanti,plaka_uyruk,kimden,takas,durumu,submodel1,submodel2
0,0,Konya,72500.0,Audi,A6,A6 Sedan 2.0 TDI,2006,Dizel,Manuel,154000,...,1968,Önden,Gri,0,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
1,1,İzmir,117500.0,Audi,A4,A4 Sedan 2.0 TDI,2013,Dizel,Yarı Otomatik,130000,...,1968,Önden,Beyaz,1,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
2,2,İstanbul,249500.0,Audi,A6,A6 Sedan 3.0 TDI Quattro,2014,Dizel,Yarı Otomatik,125000,...,2967,4WD,Siyah,0,Türkiye (TR) Plakalı,Galeriden,1,İkinci El,NaN,NaN
3,3,Muğla,92500.0,Audi,A4,A4 Sedan,2011,Benzin,Yarı Otomatik,81000,...,1798,Önden,Siyah,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN
4,4,Afyonkarahisar,47000.0,Audi,A6,A6 Sedan 2.5 TDI Quattro,2003,Dizel,Yarı Otomatik,205500,...,2001,4WD,Gri,0,Türkiye (TR) Plakalı,Sahibinden,0,İkinci El,NaN,NaN

In [27]:
writer = pd.ExcelWriter('3-Sahibinden_Araba.xlsx')
data.to_excel(writer,'Sheet1')
writer.save()

In [ ]:
plt.figure()
f ,axarr = plt.subplots(3,2,figsize = (16,16))
fiyat = data.fiyat.values
axarr[0,0].scatter(data.yil.values,fiyat)
axarr[0,0].set_title('Fİyat & Yıl')
axarr[0,0].set_xlabel('Yıl')
axarr[0,0].set_ylabel('Fiyat')
axarr[0,0].set(ylim = (0,4568700))
axarr[0,0].set(xlim = (1971,2017))
axarr[0,1].scatter(data.km.values,fiyat)
axarr[0,1].set_title('Fİyat & Kilometre')
axarr[0,1].set_xlabel('Kilometre')
axarr[0,1].set_ylabel('fiyat')
axarr[0,1].set(ylim = (0,4568700))
axarr[0,1].set(xlim = (0,2850000))
axarr[1,0].scatter(data.yil,data.km)
axarr[1,0].set_title('Yıl & Kilometre')
axarr[1,0].set_xlabel('Yıl')
axarr[1,0].set_ylabel('Kilometre')
axarr[1,0].set(xlim = (1971,2017))
axarr[1,1].scatter(data.motor_gucu_hp.values,fiyat)
axarr[1,1].set_title('Fiyat & Motor Gücü')
axarr[1,1].set_xlabel('Motor Gücü')
axarr[1,1].set_ylabel('Fiyat')
axarr[1,1].set(ylim = (0,4568700))
axarr[1,1].set(xlim = (39,669))
axarr[2,0].scatter(data.motor_hacmi_cc.values,fiyat)
axarr[2,0].set_title('Fiyat & Motor Hacmi')
axarr[2,0].set_xlabel('Motor Hacmi')
axarr[2,0].set_ylabel('Fiyat')
axarr[2,0].set(ylim = (0,4568700))
axarr[2,0].set(xlim = (698,7011))
axarr[2,1].scatter(data.motor_hacmi_cc,data.motor_gucu_hp)
axarr[2,1].set_title('Motor Hacmi & Motor Gücü')
axarr[2,1].set_xlabel('Motor Hacmi')
axarr[2,1].set_ylabel('Motor Gücü')
axarr[2,1].set(xlim = (698,7011),ylim = (39,669))

In [ ]:
pd.options.display.float_format = "{:.2f}".format
data.describe()

In [ ]:
#Outlier'ları nasıl ortalama ile değiştirebiliriz.
#mean = data['km'].mean()
#mean
##https://stackoverflow.com/questions/45386955/python-replacing-outliers-values-with-median-values
#data['km'] = np.where((data['yil']<2000)&(data['km']<50000),mean,data['km'])

Yıl 1980 ile 1990 arasında, 1990 ve 2000 arasında fiyatı 100 bin'e yakın ve 100 bin olan arabalar var onlar kontrol edilmeli

In [ ]:
data[(data['yil']<=1990)&(data['yil']>=1980)&(data['fiyat']<150000)&(data['fiyat']>40000)].sort_values(['fiyat'],ascending=False)
##https://www.sahibinden.com/ilan/vasita-otomobil-porsche-tk-motors-1986-porsche-911-carrera-targa-448903437/detay

In [ ]:
data[(data['yil']<=2000)&(data['yil']>=1990)&(data['fiyat']<150000)&(data['fiyat']>40000)].sort_values(['fiyat'],ascending=False)

Yıl Yeni Fiyat düşük onlara bi bakalım

In [ ]:
data[(data['yil']>2012)&(data['fiyat']<35000)].sort_values(['fiyat'],ascending=False)

Yılı eski olup da **kilometresi düşük olan arabalar** bir kontrol edilmesi gerek
Belli ki buradaki arabaların girişlerinde yanlışlıklar var. Bu arabaların kilometresi mean ya da median değerler girilebilir. İstanbuldaki 1990-2000 yılları arasındaki km'nin ortalaması girilebilir.

In [ ]:
data[(data['yil']<2000)&(data['km']<50000)].sort_values(['km'],ascending=True)

In [ ]:
data[(data['km']<1000)&(data['yil']<2005)].sort_values(['km'],ascending=True)

**Burdaki motor gücünün çoğu yanlış bunların napılması gerekiyor bi düşünülecek.Mesela Tofaş Şahin 75 hp, Serçe 65 hp, subaru vivio  64 hp gibi.**

In [ ]:
data[(data['motor_gucu_hp']>=400)&(data['fiyat']<=75000)].sort_values(['motor_gucu_hp'],ascending=False)

Motor hacminde de aynı şekilde problemler var. Onların düzeltilmesi gerekecek.

In [ ]:
data[(data['motor_hacmi_cc']>=4000)&(data['fiyat']<=80000)].sort_values(['motor_hacmi_cc'],ascending=False)

In [ ]:
data[(data['motor_hacmi_cc']<=3000)&(data['motor_gucu_hp']>=400)].sort_values(['motor_gucu_hp'],ascending=False)

In [ ]:
data[(data['motor_hacmi_cc']>=4000)&(data['motor_gucu_hp']<=300)].sort_values(['motor_hacmi_cc'],ascending=False)

#### Potansiyel Outlier Adayları



**Fiyat**|**Yıl**|**Km**|**Motor Gücü**|**Motor Hacmi**|**Bazı Markalar**
:-----:|:-----:|:-----:|:-----:|:-----:|:-----:
Yüksek|Düşük|Yüksek|Düşük|Düşük|Tofaş
Düşük|Yüksek|Düşük|Yüksek|Yüksek|Ferrari,Jaguar,Maserati,Mazda,Mercedes,Porsche,Chrysler

* Yıl düşük, fiyat yüksek

In [ ]:
data[(data['fiyat']>=150000)&(data['yil']<=2000)]

* Yıl yüksek, fiyat düşük (653 araba var)

In [ ]:
data[(data['fiyat']<=30000)&(data['yil']>=2010)]

* Km Yüksek, fiyat yüksek (448 araba var)

In [ ]:
data[(data['fiyat'] >=90000)&(data['km']>=175000)]

* Km düşük, fiyat düşük (464 araba var)

In [ ]:
data[(data['km']<=30000)&(data['fiyat']<=35000)]

* Motor düşük, fiyat yüksek (1993 araba)

In [ ]:
data[(data['motor_gucu_hp']<=150)&(data['fiyat']>=100000)]

* Motor Yüksek, fiyat düşük

In [ ]:
data[(data['motor_gucu_hp']>=450)&(data['fiyat']<=100000)]

* Motor Hacmi düşük, fiyat yüksek (896 araba)

In [ ]:
data[(data['motor_hacmi_cc']<=3500)&(data['fiyat']>=250000)]

* Motor Hacmi yüksek, fiyat düşük

In [ ]:
data[(data['motor_hacmi_cc']>=5000)&(data['fiyat']<=100000)]

In [ ]:
data[(data['marka']=='Tofaş')&(data['fiyat']>=20000)]

In [ ]:
data['marka'].unique()

In [ ]:
lüks_markalar = ['Ferrari','Porsche','Chrysler','Mazda','Jaguar','Maserati']
for i in lüks_markalar:
    df9 =data[(data['marka']==i)&(data['fiyat']<=175000)]

In [ ]:
df9

In [ ]:
#writer = pd.ExcelWriter('Araba_Son.xlsx')
#data.to_excel(writer,'Sheet1')
#writer.save()