**@author** : Orhan Solak

**@brief** : Merging scrapped data and removing duplicates

In [18]:
import pandas as pd
import numpy as np
import time
import random

import matplotlib
import matplotlib.pyplot as plt

import sklearn
from sklearn import cluster

%matplotlib inline

In [19]:
df1 = pd.read_excel('../data/Data_01_07_Ocak.xlsx')
df2 = pd.read_excel('../data/Data_01_08_Aralık.xlsx')
df3 = pd.read_excel('../data/Data_01_30_Kasım.xlsx')
df4 = pd.read_excel('../data/Data_08_15_Ocak.xlsx')
df5 = pd.read_excel('../data/Data_10_17_Aralık.xlsx')
df6 = pd.read_excel('../data/Data_16_23_Ocak.xlsx')
df7 = pd.read_excel('../data/Data_19_26_Aralık.xlsx')
df8 = pd.read_excel('../data/Data_23_30_Aralık.xlsx')
df9 = pd.read_excel('../data/Data_23_30_Ocak.xlsx')

In [20]:
toplam_sayi = len(df1)+len(df2)+len(df3)+len(df4)+len(df5)+len(df6)+len(df7)+len(df8)+len(df9)

In [21]:
toplam_sayi

264555

In [22]:
frames = [df1, df2, df3, df4, df5, df6, df7,df8,df9]
main_df = pd.concat(frames)

In [23]:
len(main_df)

264555

In [24]:
main_df = main_df.drop_duplicates()

In [25]:
guncel_sayi = len(main_df)

In [26]:
guncel_sayi

264553

In [27]:
print("Aynı olan ",toplam_sayi-guncel_sayi," Araba, Data'dan temizlenmiştir.")

Aynı olan  2  Araba, Data'dan temizlenmiştir.

In [28]:
main_df.head()

,Unnamed: 0,baslik,il,ilce,mahalle,fiyat,para_birimi,ilan_no,ilan_tarihi,marka,...,renk,garanti,plaka_uyruk,kimden,takas,durumu,telefon,ilan_sahibi,submodel1,submodel2
0,0,"KONYA GENÇLER OTOMOTİV,DEN HATASIZ ÇOK TEMİZ A...",Konya,Karatay,Fevziçakmak Mah.,72500.0,TL,515571139,31 Aralık 2017,Audi,...,Gri,Hayır,Türkiye (TR) Plakalı,Galeriden,Evet,İkinci El,İş 0 (332) 342 49 79 0 (332) *** ** 79 Cep 0 (...,KONYA GENÇLER OTOMOTİV|Mehmet Uzar,NaN,NaN
1,1,TOKAY AUTO'DAN 177 BG AUDİ A4,İzmir,Gaziemir,Gazi Mah.,117500.0,TL,415570628,31 Aralık 2017,Audi,...,Beyaz,Evet,Türkiye (TR) Plakalı,Galeriden,Evet,İkinci El,İş 0 (232) 282 11 17 0 (232) *** ** 17 Cep 0 (...,|ALİ PEZKET,NaN,NaN
2,2,AVANTAJLI 2014 AUDİ A6 3.0TDİ QUATTRO-ORJİNAL ...,İstanbul,Bahçelievler,Yenibosna Merkez Mah.,249500.0,TL,483277370,31 Aralık 2017,Audi,...,Siyah,Hayır,Türkiye (TR) Plakalı,Galeriden,Evet,İkinci El,İş 0 (212) 411 17 00 0 (212) *** ** 00 Cep 0 (...,Altur Turizm|Mehmet Karakuş,NaN,NaN
3,3,Doğuş çıkışlı Orijinal a4 160lık /led xenon far,Muğla,Marmaris,Armutalan Bld. (Merkez Mah.),92500.0,TL,463504189,31 Aralık 2017,Audi,...,Siyah,Hayır,Türkiye (TR) Plakalı,Sahibinden,Hayır,İkinci El,Cep 0 (542) 295 57 21 0 (542) *** ** 21,|Hasan Uzun,NaN,NaN
4,4,Kışa Hazır Quattro A6,Afyonkarahisar,Emirdağ,Yeni Mah.,47000.0,TL,448086647,31 Aralık 2017,Audi,...,Gri,Hayır,Türkiye (TR) Plakalı,Sahibinden,Hayır,İkinci El,Ev 0 (272) 442 60 88 0 (272) *** ** 88 Cep 0 (...,|Muzaffer Gümüşel,NaN,NaN

In [29]:
'{:f}'.format(1e-7)

'0.000000'

In [30]:
main_df.columns

Index(['Unnamed: 0', 'baslik', 'il', 'ilce', 'mahalle', 'fiyat', 'para_birimi',
       'ilan_no', 'ilan_tarihi', 'marka', 'seri', 'model', 'yil', 'yakit',
       'vites', 'km', 'kasa_tipi', 'motor_gucu_hp', 'motor_hacmi_cc', 'cekis',
       'renk', 'garanti', 'plaka_uyruk', 'kimden', 'takas', 'durumu',
       'telefon', 'ilan_sahibi', 'submodel1', 'submodel2'],
      dtype='object')

In [37]:
with pd.ExcelWriter('../data/data_merged.xlsx') as writer:
    main_df.to_excel(writer)